/*  style resets */
:root {
  --main-red: #ed2f2f;
  --default-border: 1.9px solid #8080802f;

  --custom-spacing: 2.5em;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
}

section {
  padding: 7em 0em;
}

section.hero-section {
  padding: 0em;
}

footer {
  padding: 3em;
  background-color: #ebeaea;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;

  overscroll-behavior: none;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  margin: 0;
  position: relative;
}

.main-container {
  width: 90vw;
  max-width: 1440px;
  margin-inline: auto;
}

.section-gray-dark {
  background-color: #191919;
  color: white;
}

.what_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--custom-spacing);

  & > img {
    height: 25em;
  }

  & .what_content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    & img {
      width: 65px;
      height: 65px;
    }

    & p {
      max-width: 45ch;
    }
  }
}
.what_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--custom-spacing);

  & > img {
    height: 25em;
  }

  & .what_content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    & img {
      width: 65px;
      height: 65px;
    }

    & p {
      max-width: 45ch;
    }
  }
}

.team_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--custom-spacing);
}

.team_comp {
  display: grid;
  gap: 1.5em;

  & h3 {
    margin-bottom: 1.5em;
  }
}

.faq_comp {
  & .x-hs-medium {
    margin-bottom: 1.5em;
  }
}

.faq_grid {
  display: grid;
  gap: 1.5em;
}