---
export interface Props {
    title: string, 
    text: string
}


const {
    title, text
} = Astro.props as Props;

---

<div class="faq_item">
    <div class="faq_item-top">
      <h3>
        {title}
      </h3>
    </div>
    <div class="faq_item-bottom">
      <p>
        {text}
      </p>
    </div>
  </div>

  <style>
   

  .faq_item {
    border-bottom: 1.9px solid #ffffff40;
    padding-bottom: 1em;
  }
  </style>