---
const { title = "Title here" } = Astro.props;

import Navbar from "@components/Navbar.astro";

import "../styles/typography.css";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/6d1291a1a2.js" crossorigin="anonymous"></script>
    <title>{title}</title>
  </head>
  <body>
    <div class="page-wrapper">
      <main class="main-wrapper">
        <Navbar />
        <slot />
      </main>
    </div>
  </body>
</html>
